# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio settings
.vscode/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

# common
Thumbs.db
Desktop.ini
*.DS_Store

# SEPIA
sepia_localstorage
